body{

font-family:'Segoe UI',sans-serif;

background:linear-gradient(135deg,#667eea,#764ba2);

margin:0;

display:flex;

justify-content:center;

align-items:flex-start;

min-height:100vh;

}

.container{

width:800px;

background:white;

padding:30px;

margin-top:40px;

border-radius:10px;

box-shadow:0 10px 30px rgba(0,0,0,0.2);

text-align:center;

}

.subtitle{

color:#666;

margin-bottom:20px;

}

input{

width:100%;

padding:10px;

margin:10px 0;

border-radius:6px;

border:1px solid #ccc;

}

button{

width:100%;

padding:12px;

background:#5a67d8;

color:white;

border:none;

border-radius:6px;

font-size:16px;

cursor:pointer;

}

button:hover{

background:#434190;

}

.upload-box{

border:2px dashed #aaa;

padding:30px;

margin:10px 0;

border-radius:10px;

cursor:pointer;

}

.upload-box p{

margin:0;

}

.small{

font-size:13px;

color:gray;

}

.upload-box input{

display:none;

}

.loader{

border:6px solid #f3f3f3;

border-top:6px solid #3498db;

border-radius:50%;

width:40px;

height:40px;

animation:spin 1s linear infinite;

margin:auto;

display:none;

}

@keyframes spin{

0%{transform:rotate(0deg)}

100%{transform:rotate(360deg)}

}

.result-card{

margin-top:30px;

text-align:left;

}

.progress{

background:#eee;

border-radius:10px;

overflow:hidden;

margin-bottom:20px;

}

.progress-bar{

background:#27ae60;

padding:10px;

color:white;

text-align:center;

}

.skills-section{

display:flex;

justify-content:space-between;

}

.tag{

display:inline-block;

padding:6px 10px;

margin:5px;

border-radius:5px;

font-size:13px;

}

.matched{

background:#d4edda;

color:#155724;

}

.missing{

background:#f8d7da;

color:#721c24;

}
.chart-container{

width:300px;

margin:30px auto;

}

.chart-container canvas{

width:100% !important;

height:300px !important;

}
.file-name{

margin-top:10px;

font-size:14px;

color:#333;

font-weight:500;

}